@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --color-primary: #F1F0EA;
    --color-secondary: #474448;
    --color-dark: #2D232E;
    --color-white: #fff;
    --color-light-green: #cad9bf;
    --color-green: #46563a;
    --color-dark-green: #2b2c26;
    --color-green-gradient: linear-gradient(175deg, #F1F0EA 22%, #cad9bf 28%);
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700; 
}

* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-primary);
    font-weight: var(--regular);
    color: var(--color-dark);
    word-wrap: break-word;
    text-align: center;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 2.8rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 2.2rem;
    }
}

p {
    font-size: 1.8rem;
    @media (max-width: 600px) {
        font-size: 1.8rem;
    }
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
    color: var(--color-dark-green);
    text-decoration: underline;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    padding: 5rem 2rem;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: var(--color-green);
    overflow: hidden;
    border-bottom: solid 1rem var(--color-dark-green);
    position: fixed;
    width:100%;
    z-index: 500;
}
  
  /* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: var(--color-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: 1024px;
}

@media (max-width: 800px) {
    .container {
        height: 50vh;
    }
}

.hero {
    height: 100%;
    width: 100vw;
    position: relative;
    /* position: fixed; */
    z-index: 10;
}

.slideshow li { 
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 10;
    animation: hero 50s linear infinite; 
}

.slideshow li:nth-child(1) {
    background-image: url('../orchid_christmas.jpg');
}
.slideshow li:nth-child(2)  {
    background-image: url('../orchid_op.jpg');
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url('../orchid_cattleya.jpg');
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url('../orchid_pink.jpg');
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url('../orchid-purple.jpg');
    animation-delay: 40s;
}

@keyframes hero { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

.wrapper {
    background-color: var(--color-primary);
    z-index: 100;
    position: relative;
    margin: 0 auto;
}

.title {
    padding-top: 2em;
}

.logo {
    width: 100px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2rem;
    z-index: 300;
}

@media (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.gallery img {
    width: 100%;
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(75%);
    transform: scale(1.1);
}

.contact {
    background: var(--color-green-gradient);
}

.contact .address {
    padding: 1em 0;
}