@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --color-primary: #F1F0EA;
    --color-secondary: #474448;
    --color-dark: #2D232E;
    --color-white: #fff;
    --color-green: #46563a;
    --color-dark-green: #2b2c26;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700; 
}

* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-primary);
    font-weight: var(--regular);
    color: var(--color-dark);
    word-wrap: break-word;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2rem;
}

@media (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.gallery img {
    width: 100%;
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(75%);
    transform: scale(1.1);
}


h1 {
    font-size: 4.8rem;
    @media (max-width: 600px) {
        font-size: 3.2rem;
    }
}

h2 {
    font-size: 3.6rem;
    @media (max-width: 600px) {
        font-size: 2.6rem;
    }
}

h3 {
    font-size: 2.8rem;
    @media (max-width: 600px) {
        font-size: 2.2rem;
    }
}

p {
    font-size: 1.8rem;
    @media (max-width: 600px) {
        font-size: 1.8rem;
    }
}

a {
    background-color: transparent;
    color: var(--color-dark);
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}